:root {
  --primary-color: #014679;
  --primary-tint: #9fe7ff38;
  --lightgrey: #e5e5e5;
}

.bg_primary {
  background: var(--primary-color) !important;
}

.ant-layout-sider-zero-width-trigger {
  background: var(--primary-color) !important;
  color: #fff;
}
