* {
  margin: 0;
}

.signup {
  h2 {
    color: rgba(2, 88, 151, 1);
    font-weight: 700;
    font-size: 36px;
    font-family: 'Ubuntu';
    margin: 5rem 0 2rem 0;
  }
  input {
    background: #f7fdff;
    border-radius: 5px;
    margin: 0.5rem;
    outline: none;
    border: none;
    padding: 10px;
    height: 50px;
    min-width: 350px;
  }
  #password-validation {
    min-width: 350px;
  }
  .fa-check {
    margin: 0.5rem;
    background: #c4c4c4;
    border-radius: 50%;
    color: #fff;
    padding: 1px;

    & ~ span {
      opacity: 0.5;
    }

    &.passed {
      background: rgba(2, 88, 151, 1);

      & ~ span {
        opacity: 1;
      }
    }
  }
  .underline {
    border-bottom: 1px solid #000;
    width: 150px;
    margin: 0 10px 17px 10px;
  }
}
